@import url("../assets/fonts/fonts.css");

:root {
  /* FONTS */
  --primary-font: "Poppins", sans-serif;

  /* CONTAINER */
  --container-lg: 1080px;

  /* LARGE */
  --text-2xl: 28px;
  --text-3xl: 36px;
  --text-4xl: 40px;
  --text-5xl: 64px;
  --text-6xl: 80px;

  /* REGULAR */
  --text-xl: 24px;
  --text-lg: 20px;
  --text-base: 16px;

  /* COLOR */
  --white: #fff;
  --black: #000;
  --dark-gray: #6f6f6f;
  --orange: #f8a401;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

a {
  color: var(--black);
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

/* UTILITY */
.container {
  max-width: var(--container-lg);
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.navigation__title > h3 {
  font-weight: 700;
  letter-spacing: -1px;
  font-size: var(--text-xl);
  text-transform: uppercase; /* Merubah teks menjadi huruf besar semua */
}

.navigation__menus {
  /* Membuat menu hilang ketika layar mobile */
  display: none;
}

.navigation__menus > a {
  margin: 0 20px;
  font-weight: 400;
  font-size: var(--text-lg);

  transition: all 0.3s ease-in-out;
}

/* Menambahkan efek hover */
.navigation__menus > a:hover {
  color: var(--dark-gray);
}

.navigation__action a.navigation__button {
  padding: 14px 40px;
  font-size: var(--text-base);
  border-radius: 12px;
  font-weight: 500;
  border: 2px solid var(--black);
  display: none;
}

/* HEADER */

/* SIDEBAR */
.sidebar__content {
  position: fixed; /* Membuat supaya element sidebar nyangkut di tempatnya */
  display: block;
  top: 0; /* Rata atas */
  right: -100%; /* Membuat element secara default menghilang dari viewpoint */
  bottom: 0; /* Rata bawah */
  width: 280px; /* Memberikan lebar sebanyak 280px */
  background-color: var(--white); /* Memberikan warna background putih */
  padding: 20px 10px; /* Memberikan jarak dalam atas bawah 20px kiri kanan 10px */
  border-left: 1px solid var(--dark-gray); /* Memberikan border kiri sebanyak 1px */
  z-index: 99; /* Membuat element di tumpukan 99 (Di atas element lain) */
  transition: all 0.3s ease-in-out; /* Menambahkan transisi supaya smooth */
}

.sidebar__content.show {
  right: 0; /* Class bantuan untuk memunculkan sidebar */
}

.sidebar__content.hide {
  right: -100%; /* Class bantuan untuk menghilangkan sidebar */
}

.sidebar__menus {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Memberikan jarak untuk element di dalamnya sebanyak 20px */
  margin-top: 20px; /* Memberikan jarak tepi atas sebanyak 20px */
}
/* SIDEBAR */

/* MAIN CONTENT */

.content__article {
  padding-top: 20px;
}

.content__article > h1 {
  font-size: var(--text-2xl);
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.content__hero__title > span {
  color: var(--dark-gray);
}

.content__banner {
  display: relative;
  height: 280px;
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
}

.content__banner > img {
  object-fit: cover;
  border-radius: 14px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.content__banner > img:hover {
  transform: scale(1.05);
}

.content__information {
  display: flex;
  padding: 20px 0;
  margin-top: 10px;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}

.content__item__value {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__item__value h3 {
  font-size: var(--text-4xl);
  color: var(--black);
  font-weight: 600;
}

.content__item__value p {
  font-size: var(--text-base);
  color: var(--black);
  font-weight: 400;
}

.content__item__information {
  flex: 1;
  display: block;
}

.content__item__information > p {
  font-size: var(--text-base);
  font-weight: 400;
}

.content__item__side {
  display: flex;
  margin-top: 14px;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid var(--dark-gray); */
}

.content__item__button {
  background: var(--orange);
  padding: 12px 30px;
  border-radius: 14px;
  cursor: pointer;
  font-size: var(--text-base);
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.content__item__button:hover {
  opacity: 0.8;
}

.content__avatar {
  gap: 8px;
  display: flex;
  position: relative;
  align-items: center;
}

.content__item__avatar {
  height: 50px;
  width: 50px;
  position: relative;
  border: 2.5px solid var(--black);
  border-radius: 50%;
}

.content__item__avatar:nth-child(2) {
  position: absolute;
  transform: translateX(50%);
  z-index: 5;
}

/* MAIN CONTENT */

/* Mengatur perubahan ketika ukuran layarnya mulai dari 768px.
  Biasanya itu ukuran tablet
*/

@media screen and (min-width: 768px) {
  /* Ketika di layar tablet atau laptop maka buat padding jadi 0 */
  /* UTILITY */
  .container {
    padding: 0 16px;
  }

  /* HEADER */
  .navigation__title > h3 {
    font-size: var(--text-3xl);
  }

  .navigation__menus {
    display: flex;
    justify-content: center;
  }

  .navigation__toggler {
    display: none;
  }

  .navigation__action a.navigation__button {
    display: block;
  }

  /* MAIN CONTENT */
  .content__banner {
    height: 100%;
  }

  .content__article > h1 {
    font-size: var(--text-5xl);
    line-height: 80px;
  }

  .content__information {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .content__item__value h3 {
    font-size: var(--text-5xl);
  }

  .content__item__value p {
    font-size: var(--text-xl);
  }
}

/* Mengatur perubahan ketika ukuran layarnya mulai dari 1024px.
  Biasanya itu ukuran laptop
*/

@media screen and (min-width: 1024px) {
  .content__article > h1 {
    font-size: var(--text-6xl);
    letter-spacing: -2px;
    line-height: 100px;
  }
}
